{% extends "layout.html" %}
{% block content %}   


<div class='row'>
    {% for user in users %}
    <div class='col-xs-6 col-sm-3 col-md-2 col-sm-2 col-lg-2'>
        <a href="/users/{{ user.id }}" title="Name"><div class='panel panel-default text-center'>
                <div class='panel-header'>
                    <h6>{{ user.name }}</h6>
                </div>
                <div class='panel-body'>
                    <img alt="Gravatar" height="80" src="{{ user.email or '/static/images/gravatar-140.png'}}" width="80" />
                </div>
            </div>
        </a>
    </div>
    {% else %}
    <h1>No users</h1>
    {% endfor %}
</div>

{% endblock %}
